$color-3a79ff: #3a79ff;
$color-d2e1ff: #d2e1ff;
$color-d8e3fe: #d8e3fe;
$primary-color: #fff;
$color-adb4d2: #adb4d2;
$color-4c85ff: #4c85ff;
$color-4074f8: #4074f8;
$color-adb3cb: #adb3cb;
$color-3d4f9f: #3d4f9f;
$color-d43f3f: #d43f3f;
$color-ffd7d7: #ffd7d7;
$color-dae4fe: #dae4fe;
$color-565f82: #565f82;
$color-d1d1e4: #d1d1e4;
$color-a0b4ff: #a0b4ff;
$color-c7d3ff: #c7d3ff;
$color-fcfdff: #fcfdff;
$color-efeff7: #efeff7;
$color-aeb8d0: #aeb8d0;
$color-4d6ce1: #4d6ce1;
$color-7a85ad: #7a85ad;
$color-8d96bd: #8d96bd;
$color-8e96b7: #8e96b7;
$color-e8ecf4: #e8ecf4;
$color-f5f8ff: #f5f8ff;
$color-f3f5fa: #f3f5fa;
$color-676f95: #676f95;
$color-a4abc8: #a4abc8;
$color-eff4ff: #eff4ff;
$color-5e80ff: #5e80ff;
$color-a6b6da: #a6b6da;
$color-5f82ff: #5f82ff;

.color-3a79ff {
  color: $color-3a79ff;
}

.bg-d2e1ff {
  background-color: $color-d2e1ff;
}

.color-primary {
  color: $primary-color;
}

.color-5e80ff {
  color: $color-5e80ff;
}

.color-adb4d2 {
  color: $color-adb4d2;
}

.color-3d4f9f {
  color: $color-3d4f9f;
}

.color-7a85ad {
  color: $color-7a85ad;
}

.color-8d96bd {
  color: $color-8d96bd;
}

.bg-4c85ff {
  background-color: $color-4c85ff;
}

.color-d43f3f {
  color: $color-d43f3f;
}

.bg-ffd7d7 {
  background-color: $color-ffd7d7;
}

.bg-color-primary {
  background-color: $primary-color;
}

.bg-fsfdff {
  background-color: $color-fcfdff;
}

.bg-efeff7 {
  background-color: $color-efeff7;
}

.bg-4d6ce1 {
  background-color: $color-4d6ce1;
}

.bg-f5f8ff {
  background-color: $color-f5f8ff;
}

.color-565f82 {
  color: $color-565f82;
}

.color-c7d3ff {
  color: $color-c7d3ff;
}

.color-a6b6da {
  color: $color-a6b6da;
}
